<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="border border-primary glass" style="padding: 20px">

        <table class="table">
          <tbody>
            <tr>
              <th colspan="2">{{shop.nameShop}} </th>
            </tr>
            <tr>
              <td class="text-light"><i class="fa fa-university"></i> כתובת מייל</td>
              <td>{{shop.mailShop}}</td>
            </tr>
            <tr>
              <td class="text-light"><i class="fa fa-calendar"></i> שם החנות</td>
              <td>{{shop.nameShop}}</td>
            </tr>
            <tr>
              <td class="text-light"><i class="fa fa-home"></i>מיקום החנות</td>
              <td>{{shop.addressString}}</td>
            </tr>
            <tr>
              <td class="text-light"><i class="fa fa-calendar"></i> טלפון החנות</td>
              <td>{{shop.phoneShop}}</td>
            </tr>
            <tr>
              <td class="text-light"><i class="fa fa-medkit"></i>זמן פתיחה</td>
              <td>{{shop.fromHour}}</td>
            </tr>
            <tr>
              <td class="text-light"><i class="fa fa-thumbs-up"></i> זמן סגירה</td>
              <td>{{shop.toHour}}</td>
            </tr>
            <tr>
              <td class="text-light"><i class="glyphicon glyphicon-time"></i>הקטגוריות הנמכרות בחנות</td>
              <td>
                <p *ngFor="let s of shop.Categories">
                  <li>{{s.nameCategory}}</li>
                </p>
              </td>
            </tr>

          </tbody>
        </table>
        <button class="btn btn-block btn-dark" (click)="onUpdate()">עדכן פרטי חנות</button>
      </div>
    </div>
    <div class="col-3" class="" style="margin-right: 10%;margin-top:10%">
      <app-statistics></app-statistics>
    </div>
  </div>
</div>