<div class="container" >
    <div class="col-5"></div>
    <div class="col-7">
        <div class="border border-primary" style="padding: 20px">

            <form #f="ngForm" (ngSubmit)="onLogin(f.form.valid)" class="form-signin container wrap" [ngClass]="val">

                <div class="form-group">
                    <label for="mail" class="col-sm-2 col-form-label">מייל</label>
                    <input #mail type="email" class="form-control" name="mail" [(ngModel)]="shop.mailShop"
                        placeholder="הקלד כתובת מייל" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                    <div class="valid-feedback">טוב</div>
                    <div class="invalid-feedback">הקלד כתובת מייל נכונה</div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 col-form-label">סיסמה</label>
                    <input #password type="password" class="form-control" name="password"
                        [(ngModel)]="shop.passwordShop" placeholder=" הקלד סיסמא " required>
                    <div class="valid-feedback">טוב</div>
                    <div class="invalid-feedback">נא הקש סיסמה</div>
                </div>
                <br>
                <button class="btn btn-dark btn-lg btn-block">הכנס</button>
                <a class="nav-item nav-link" [routerLinkActive]="['selected']" [routerLink]="['/signup']">
                    <!-- <img class="i" src="../assets/images/signup.png"> -->
                    <span>רישום</span>
                  </a>
            </form>
        </div>
        <div class="col-5"></div>
    </div>
</div>