.i{
    /* width: 180px; */
    height: 80px;
    margin: 0px 10px 0px 10px;
  }
  .navbar navbar-expand-lg:hover { 
    color:var(--my-primary) ;
}

nav a.selected { 
    color: var(--my-primary) ;
    border-bottom: 3px solid var(--my-primary) ;
}

.hp-img {
  display: block;
  margin: auto;
  height: 130vh;
}