<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
  <a class="navbar-brand" href="">
    <img class="i" src="../assets/images/logo.PNG">
  </a>
  <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLinkActive]="['selected']" [routerLink]="['/signup']">
        <img class="i" src="../assets/images/signup.png">
      </a>
      <a class="nav-item nav-link" [routerLinkActive]="['selected']" [routerLink]="['/signin']">
        <img class="i" src="../assets/images/signin.png">
      </a>
      <a class="nav-item nav-link" [routerLinkActive]="['selected']" [routerLink]="['/home']">
        <img class="i" src="../assets/images/home.png">
      </a>
    </div>
  </div>
  <app-singout></app-singout>
</nav>

<div style="margin-top: 10vh !important">
  <router-outlet></router-outlet>
</div>